@charset "UTF-8";

@-webkit-keyframes buttonPulse {
  0% {
    padding: 16px 26px;
  }

  50% {
    padding: 16px 35px;
  }

  100% {
    padding: 16px 26px;
  }
}

@font-face {
  font-family: 'chaloops';
  src: url('../fonts/chaloops/Chaloops-Regular.ttf') format('woff2'),
    url('../fonts/chaloops/Chaloops-Regular.ttf') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'chaloops-medium';
  src: url('../fonts/chaloops/Chaloops-Medium.ttf') format('woff2'),
    url('../fonts/chaloops/Chaloops-Medium.ttf') format('woff');
  font-weight: 600
}

@font-face {
  font-family: 'chaloops-bold';
  src: url('../fonts/chaloops/Chaloops-Bold.ttf') format('woff2'),
    url('../fonts/chaloops/Chaloops-Bold.ttf') format('woff');
  font-weight: 900;
}

.buttonPulseClass {
  -webkit-animation-name: buttonPulse;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --gray: #f5f5f5;
  --white: #ffffff;
  --black: #000000;
  --links: #333333;
  --linksHover: #777777;
  --linksActive: #444444;
  --linksBackgroundHover: #DDDDDD;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 1px transparent;
  display: none;
}

.my-body-noscroll-class {
  overflow: hidden;
  -webkit-overflow-scrolling: touch !important;
  touch-action: none;
  height: calc(100% + 1px);
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.feature {
  height: 100%;
}

a {
  text-decoration: none;
}

.hiddenTags {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  font-family: "chaloops", sans-serif;
  text-align: center;
}

.menu-icon {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 20px;
  width: 30px;
  z-index: 1000;
  cursor: pointer;
  display: block;
}

.menu-icon .bar {
  width: 100%;
  height: 2px;
  background-color: var(--black);
}

#barTwo {
  margin-top: 5px;
}

.invert {
  background-color: var(--white) !important;
}

.blackOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
}

.mainnav {
  background-color: white;
  position: fixed;
  width: 300px;
  height: 100%;
  left: -300px;
  z-index: 999;
  display: none;
  overflow: scroll;
}

.mainnav ul {
  text-align: center;
  width: 100%;
}

.mainnav ul li a {
  color: var(--black);
  font-family: "chaloops-medium", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  padding: 20px 0;
  display: block;
  font-size: 1.8rem;
}

.mainnav ul li a:hover {
  background-color: var(--linksBackgroundHover);
  transition: 0.4s;
}

.mainnav ul li a:active {
  background-color: var(--linksActive);
  transition: 0.4s;
}

/************* Hero *********************/

#hero {
  width: 100%;
  position: relative;
  transition: 0.8s;
}

.zoom {
  transform: scale(1.02);
}

header {
  display: block;
  padding: 60px 50px;
  z-index: 10;
  position: relative;
}

.logo {
  max-width: 250px;
  width: 100%;
  margin: auto;
  display: block;
}

#fade {
  height: 100%;
  background-color: var(--gray);
  /* background-color: #FF6600; */
  /* background: linear-gradient(175deg,#CE4703, #FF6600); */
  /* background-color: #202020;
background: linear-gradient(180deg,#0f0f0f, #202020); */
}

#pattern {
  /* background-image: url(../images/pattern.png);
background-repeat: repeat; */
}

#pricing {
  background-color: var(--gray);
  /* background: linear-gradient(180deg,#0f0f0f, #202020); */
}

#travel {
  background-color: var(--white);
  /* background: linear-gradient(180deg,#31b8fc, #0099ff); */
}

#pattern-pricing {
  /* background-image: url(../images/pattern-pricing.png);
background-repeat: repeat; */
}

#pattern-travel {
  /* background-image: url(../images/pattern-travel.png);
background-repeat: repeat; */
}

/* Icon Navigation */
nav {
  display: flex;
  justify-content: center;
}

nav a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  /* Adjusted width for each link */
  height: 70px;
  /* Adjusted height for each link */
  margin: 0 5px;
  /* Adjusted margin between links */
  position: relative;
  border-radius: 50%;
  /* Ensures links are circular */
  overflow: hidden;
  /* Hides overflow if icons are larger than the link */
  transition: background-color 0.3s ease;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  /* Semi-transparent background on hover */
}

nav a:active {
  background-color: rgba(0, 0, 0, 0.6);
  /* Semi-transparent background on hover */
}

nav a i {
  font-size: 3em;
  /* Increased icon size */
  color: var(--links);
  /* Adjust icon color */
}

nav .fa {
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  nav a {
    width: 60px;
    /* Adjusted width for each link */
    height: 60px;
    /* Adjusted height for each link */
  }

  nav .fa {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  nav a {
    width: 50px;
    /* Adjusted width for each link */
    height: 50px;
    /* Adjusted height for each link */
  }

  nav .fa {
    font-size: 1rem;
  }
}

/* Wrapper */
.inside-wrapper {
  margin: 0 auto;
  max-width: 760px;
  text-align: center;
}

.inside-wrapper p {
  font-family: "chaloops", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  /* font-size: 2vw; */
  font-size: 1.7em;
  line-height: 1.5em;
  text-align: center;
  padding: 50px 20px;
}

.inside-wrapper a {
  color: var(--links);
}

.inside-wrapper a:hover {
  filter: brightness(90%);
  transition: 0.4s;
}

.inside-wrapper a:active {
  filter: brightness(100%);
  transition: 0s;
}

#main-cta {
  color: var(--white);
  padding: 16px 26px;
  transition: 0.4s;
  border-radius: 40px;
  font-size: 0.8em;
  background-color: var(--links);
  text-align: center;
  font-weight: 600;
}

#main-cta:hover {
  filter: brightness(30%);
  transition: 0.4s;
}

#main-cta:active {
  filter: brightness(10%);
  transition: 0s;
}

img,
iframe {
  width: 100%;
}

iframe {
  max-width: 700px;
  height: 20vw;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

.wrap-iframe {
  padding: 0px 30px;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--gray);
}

@-moz-document url-prefix() {
  hr {
    border: none;
    height: 1px;
    background-color: var(--gray);
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 30px;
  text-align: left;
  justify-content: center;
  box-sizing: border-box;
}

.row img {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  pointer-events: none;
}

.row .text {
  width: 100%;
  text-align: center;
}

.row h2 {
  font-family: "chaloops", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: var(--black);
  /* font-size: 2vw; */
  font-size: 1.3em;
  line-height: 1.7em;
}

.row p {
  font-family: "chaloops", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  /* font-size: 2vw; */
  font-size: 1.1em;
  line-height: 1.7em;
  padding-top: 10px;
}

.process {
  background-color: var(--white);
  padding: 50px 0px;
}

.process p {
  margin: 0px 20px;
}

.process p,
.modal-paragraph {
  font-family: "chaloops", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  font-size: 1.1em;
  line-height: 1.7em;
  padding-top: 10px;
  text-align: center;
}

.modal-paragraph {
  padding: 10px;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
}

.follow-text {
  margin-top: 30px !important;
}

.process-cta {
  font-family: "chaloops", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  padding: 16px 26px;
  transition: 0.4s;
  border-radius: 40px;
  font-size: 1em;
  background-color: var(--gray);
  text-align: center;
  display: block;
  max-width: 120px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.process-cta:hover {
  background-color: #953200;
  transition: 0.4s;
  color: var(--white);
}

.process-cta:active {
  background-color: #4E1A00;
  transition: 0s;
  color: var(--white);
}

.row a {
  color: #0057AD;
}

.row-cta,
.row a .fa,
.modal-exit,
.modal-exit-bottom {
  font-weight: 600;
}

.row a:hover {
  filter: brightness(30%);
}

.row-cta span {
  padding-right: 0px;
  transition: 0.4s;
}

.row-cta:hover span {
  padding-right: 10px;
  transition: 0.4s;
}

.content {
  color: var(--black);
  padding: 40px 0;
  font-family: "chaloops", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#pricing .flex {
  flex-direction: row;
}

#travel .flex {
  flex-direction: row-reverse;
}

.content h3 {
  font-weight: 900;
  font-family: 'chaloops-bold', sans-serif;
  font-size: 2em;
  line-height: 2em;
  padding: 10px 20px;
}

.flex h3 {
  text-align: left;
}

.content p {
  font-weight: 400;
  font-size: 1.7em;
  line-height: 1.5em;
  padding: 10px 20px;
  box-sizing: border-box;
}

.flex p {
  text-align: left;
}

.content img {
  padding: 10px;
  box-sizing: border-box;
}

.content nav {
  justify-content: left;
  padding-left: 20px;
}

.text {
  max-width: 600px;
  width: 100%;
}

#questions {
  background-color: var(--gray);
}

#questions .text {
  max-width: 1000px;
  width: 100%;
  text-align: left;
  margin: auto;
}

#questions h3 {
  text-align: center;
}

.question {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-family: 'chaloops-medium', sans-serif;
}

.question:hover {
  color: var(--linksHover);
  cursor: pointer;
}

.question-container {
  border-bottom: solid;
  border-bottom-color: var(--black);
  border-bottom-width: 1px;
  margin: 15px 10px 0;
}

.question .fa {
  padding-left: 5px;
  box-sizing: border-box;
}

strong {
  font-family: 'chaloops-bold', sans-serif;
}

/************* Media Items ****************/

.media-logo {
  padding: 20px 10px;
  box-sizing: border-box;
}

.black {
  background-color: var(--black);
}

button {
  cursor: pointer;
  padding: 10px 30px;
  background: transparent;
  border: solid var(--black) 1px;
  color: var(--black);
}

button:hover {
  background: var(--black);
  color: var(--white);
}

.black button {
  border: solid var(--white) 1px;
  color: var(--white);
}

.black button:hover {
  background: var(--white);
  color: var(--black);
}

.center {
  text-align: center;
  display: block;
  margin: auto;
}

.video-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.video-container iframe {
  max-width: 300px;
  width: 100%;
  margin-bottom: 10px;
  min-height: 600px;
}

/************* Shop *********************/

.shop .row {
  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap on smaller screens */
  justify-content: center;
  align-items: stretch;
  /* Ensure items have equal height */
  padding: 10px 15px;
  /* Reduced horizontal padding for better mobile view */
  gap: 20px;
  /* Add space between items */
}

.shop .item {
  flex: 0 1 calc(25% - 20px);
  /* Base width for desktop (4 items per row) */
  max-width: 400px;
  /* Maximum width for larger items */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.shop .item-horizontal {
  flex: 0 1 calc(50% - 20px); /* 50% width minus margin */
  /* Removed or adjust max-width */
  max-width: none; /* Remove the max-width constraint */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.shop .image-container {
  position: relative;
  width: 100%;
  /* Make width responsive */
  aspect-ratio: 1 / 1.1;
  /* Maintain a consistent aspect ratio */
  perspective: 1000px;
}

.shop .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.shop .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  flex-grow: 1;
}

@media screen and (max-width: 1000px) {
  .shop .item {
    flex: 0 1 100%;
    width: 100%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 700px) {
  .shop .content img {
    padding: 10px;
  }

  .shop .text {
    padding: 0;
  }
}

.shop .text button {
  width: 100%;
  max-width: 200px;
  margin: 5px 0;
}

.shop .image-container .back {
  transform: rotateY(180deg);
  /* Initially rotate the back image */
}

.shop .image-container.flipped .front {
  transform: rotateY(180deg);
  /* Flip the front image */
}

.shop .image-container.flipped .back {
  transform: rotateY(0deg);
  /* Rotate the back image back to normal */
}

.shop .item form section img {
  width: 70px;
  height: auto !important;
}

.shop .item form input {
  text-align: center;
  border: none;
  border-radius: 1.5rem;
  min-width: 11.625rem;
  padding: 0 2rem;
  height: 2.625rem;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  cursor: pointer;
}

.shop .item form input:hover {
  background-color: #333;
  transition: 0.3s;
}

/************* Footer *******************/

footer {
  text-align: center;
  background-color: var(--gray);
  font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--black);
  padding: 30px 50px;
}

footer a {
  font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--black);
  padding: 0px 8px;
  box-sizing: border-box;
}

footer a:hover {
  filter: brightness(30%);
}

footer a:active {
  filter: brightness(10%);
}

footer div {
  padding-bottom: 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

/************* Invoice ********************/

.invoice .right {
  text-align: right;
}

.invoice .row {
  justify-content: space-between;
}

.invoice #sum {
  font-size: 10rem;
  font-family: 'chaloops', sans-serif;
}

.invoice .end {
  justify-content: flex-end !important;
}

.gray {
  background-color: #DDD;
}

.invoice h3 {
  font-size: 5rem;
  font-family: 'chaloops', sans-serif;
}

/************* Modals ********************/

.modal {
  padding: 0px;
  position: relative;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch !important;
  overflow-y: auto;
  height: calc(100% + 1px);
}

#modal-wwg img:nth-child(2),
#modal-wwg img:nth-child(3) {
  margin-top: 0px;
}

.modal img {
  max-width: 800px;
  display: block;
  margin: auto;
  margin-top: 60px;
}

.modal-exit {
  position: absolute;
  right: 50px;
  top: 30px;
  color: #0057AD;
  font-family: "chaloops", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 1.7em;
}

.modal-exit-bottom {
  position: relative;
  text-align: center;
  color: #0057AD;
  font-family: "chaloops", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 1.7em;
  display: block;
}

.modal-exit:hover,
.modal-exit-bottom:hover {
  filter: brightness(30%);
  transition: 0.4s;
}

.fa {
  padding-top: 0px !important;
}

@media screen and (max-width: 1500px) {

  iframe {
    max-width: 700px;
    height: 30vw;
    margin: auto;
    display: block;
    margin-bottom: 30px;
  }

}

/************* Mobile ******************/

@media screen and (max-width: 700px) {

  header {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    position: relative;
  }

  .logo {
    max-width: 180px;
  }

  iframe {
    max-width: 700px;
    height: 40vw;
    margin: auto;
    display: block;
    margin-bottom: 20px;
  }

  .rawLogo {
    /* font-size: 2.4vw; */
    font-size: 1.5em;
  }

  nav {
    /* font-size: 2.4vw; */
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .inside-wrapper p {
    font-family: "chaloops", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--black);
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;
    padding: 25px 20px;
  }

  .inside-wrapper p:nth-of-type(2),
  .row p:nth-of-type(2) {
    text-align: center;
  }

  .row p:nth-of-type(2) {
    padding-bottom: 40px;
  }

  #main-cta {
    padding: 13px 23px;
  }

  .row {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
  }

  .row:nth-of-type(even) {
    flex-direction: column;
  }

  .row img {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .row .text {
    width: 100%;
  }

  .row h2 {
    font-size: 1.1em;
  }

  .row p {
    text-align: left;
    font-size: 1em;
  }

  .row .center {
    text-align: center !important;
  }

  .row-cta {
    text-align: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  footer {
    padding: 20px 10px;
  }

  footer div {
    padding-bottom: 10px;
  }

  .modal-exit {
    right: 30px;
    top: 30px;
  }

  .modal img:first-child {
    margin-top: 60px;
  }

  .modal img {
    margin-top: 20px;
  }

  .flex {
    flex-direction: column;
  }

  #pricing .flex {
    flex-direction: column;
  }

  #travel .flex {
    flex-direction: column;
  }

  .content img {
    padding: 10px 50px;
    box-sizing: border-box;
  }

  .content h3 {
    font-weight: 900;
    font-size: 1.7em;
    line-height: 1.6em;
    padding: 10px 20px;
  }

  .flex h3 {
    text-align: center;
  }

  .content p {
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 10px 20px;
  }

  .flex p {
    text-align: center;
  }

  .content nav {
    justify-content: center;
    padding: 0;
  }

  .question .fa {
    padding-left: 10px;
    box-sizing: border-box;
  }

}

@media screen and (max-width: 350px) {
  .invert {
    background-color: var(--black) !important;
  }
}